:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --sections-background-color: #2f303a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0%;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: flex;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.part-logo {
  color: var(--accent-color);
}

.modal-btn {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background: var(--accent-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
}

.social-links-list {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .social-links-list {
    padding-right: 17px;
    padding-left: 17px;
  }
}
.social-media-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-media-item:hover, .social-media-item:focus {
  fill: #ffffff;
}
.social-media-link:hover .social-media-item, .social-media-link:focus .social-media-item {
  fill: #ffffff;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover, .social-media-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff10;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
  max-width: calc(100vw - 40px);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: #ffffff;
  cursor: pointer;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-call {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  background-color: #ffffff;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  white-space: break-spaces;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-text-color);
  cursor: pointer;
  margin-right: 10px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  display: block;
  background-image: url("../images/iconcheck.png");
  width: 16px;
  height: 15px;
  border: none;
}

.modal-form-btn {
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: none;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
  }
}
.footer-form-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer-form-input {
    width: calc(100vw - 40px);
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}
.footer-submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 1200px) {
  .footer-submit-btn {
    margin-left: 12px;
    margin-top: 0;
  }
}
.footer-btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 250ms, visibiliti 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 5px 20px;
  left: 576px;
  top: 174px;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button.current {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-button:focus, .filter-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.clients-list-item {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  padding: 16px 52px;
  transition: fill 250ms, border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item:hover, .clients-list-item:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-list-item:hover .clients-list-icon, .clients-list-item:focus .clients-list-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: 226px;
    height: 92px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
  }
}
.clients-list-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms, border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-icon:hover, .clients-list-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.menu-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-close-btn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mobile-menu__mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

.mobile-menu-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-social-media {
  margin-right: 20px;
}

.menu-media-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu-tel {
  margin-top: 302px;
  margin-bottom: 32px;
}

.menu-tel-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu-email {
  margin-bottom: 64px;
}

.menu-email-link {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.close-icon:focus,
.close-icon:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-btn,
.mobile-menu {
    display: none;
  }
}
.header {
  border-bottom: 1px solid #eeeeee;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}
.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-contacts .header-contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header-contacts .header-email {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.email-icon,
.tel-icon {
  fill: #757575;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.email-icon:hover, .email-icon:focus,
.tel-icon:hover,
.tel-icon:focus {
  fill: var(--accent-color);
}
.email-link:hover .email-icon, .email-link:focus .email-icon, .tel-link:hover .email-icon, .tel-link:focus .email-icon,
.email-link:hover .tel-icon,
.email-link:focus .tel-icon,
.tel-link:hover .tel-icon,
.tel-link:focus .tel-icon {
  fill: var(--accent-color);
}

.menu__link.current {
  color: var(--accent-color);
}
.menu__link.current::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -33px;
}

.menu__link,
.email-link,
.tel-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus,
.email-link:hover,
.email-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.email-link,
.tel-link {
  display: flex;
  align-items: center;
  color: #757575;
  margin-left: 10px;
}

.header-email {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .menu,
.header-contacts {
    display: none;
  }
}
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero_mobile.jpg");
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("/images/hero/hero.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("/images/hero/hero@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("/images/hero/hero_tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("/images/hero/hero_tablet@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: url("/images/hero/hero_mobile@2x.jpg");
  }
}
.hero-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-title {
  max-width: 360px;
  margin: 0 auto 30px auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.advantage-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage-name {
    text-align: start;
  }
}
.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantage-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.advantage-list-item {
  display: block;
  max-width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list-item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.advantage {
  padding-bottom: 0;
}

.advantage-icon-section {
  background-color: #f5f5fa;
  border-radius: 4px;
  padding: 25px 190px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-icon-section {
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-icon-section {
    padding: 23px 96px;
  }
}
.advantage-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.sarvices-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.sarvices-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px;
}

.services-item {
  position: relative;
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.our-team-item {
  max-width: 450px;
  padding: 0;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}
.our-team-item > picture img {
  max-width: 100%;
}

@media screen and (min-width: 280px) {
  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team-item {
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-item {
    flex-basis: calc((100% - 150px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.team-member {
  display: block;
  text-align: center;
  background-color: #ffffff;
  padding: 30px 15px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clients-list-item {
  margin-bottom: 30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .cleints-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
}
.filter-buttons {
  display: flex;
  margin-bottom: 34px;
}

@media screen and (max-width: 767px) {
  .filter-buttons {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-buttons {
    justify-content: center;
  }
}
.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-item-tipe {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    max-width: 354px;
    flex-basis: calc((100% - 80px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.portfolio-item {
  margin-bottom: 30px;
  background: #ffffff;
  transition: filter 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc((100% - 120px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-link:hover .overlay, .portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-img-section {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--sections-background-color);
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 165px;
  }
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  justify-content: center;
}

.address {
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.contacts__email {
  margin-bottom: 9px;
}

.contacts__email-link,
.contacts__tel-link,
.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link {
  font-family: var(--main-font);
  color: #ffffff;
}

.contacts__email-link,
.contacts__tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer-form-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form-call {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}/*# sourceMappingURL=main.css.map */