.filter-buttons {
  display: flex;
  margin-bottom: 34px;
}

@media screen and (max-width: 767px) {
  .filter-buttons {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-buttons {
    justify-content: center;
  }
}
